---
layout: default
permalink: /membros/
---

    <a href="/home/">Home</a>|<a href="/membros/">Membros</a><br>

    <h2>Discentes do Labcan</h2>
    {% for discente in site.data.discentes %}
    <li>
        <!-- Foto de perfil -->
        <img src="https://github.com/{{discente.github}}.png" alt="Perfil do Github de {{discente.name}}" width="30"
            height="30"><br>

        Nome: {{discente.name}} <br>

        Github: <a href="https://github.com/{{discente.github}}">{{discente.github}}</a><br>

        Sobre: <br><span class="bio" data-username="{{discente.github}}">Carregando...</span><br>

    </li>
    {% endfor %}

    <script>
        document.querySelectorAll('.bio').forEach(span => {
            const user = span.dataset.username;
            fetch(`https://api.github.com/users/${user}`)
                .then(res => res.json())
                .then(data => {
                    span.innerText = data.bio || "Sem bio";
                }).catch(() => {
                   span.innerText = "Error ao carregar bio";
                });
        });    
    </script>

    <h2>Docentes do Labcan</h2>
    {% for docente in site.data.docentes %}
    <li>
        Nome: {{docente.name}}
    </li>
    {% endfor %}
